watchServer/wsdl/lounges_wsdl.xml


<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Handle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HandleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HandleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HandleSoapIn">
    <wsdl:part name="parameters" element="tns:Handle" />
  </wsdl:message>
  <wsdl:message name="HandleSoapOut">
    <wsdl:part name="parameters" element="tns:HandleResponse" />
  </wsdl:message>
  <wsdl:portType name="AirportLoungesProcessSoap">
    <wsdl:operation name="Handle">
      <wsdl:input message="tns:HandleSoapIn" />
      <wsdl:output message="tns:HandleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirportLoungesProcessSoap" type="tns:AirportLoungesProcessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Handle">
      <soap:operation soapAction="http://tempuri.org/Handle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirportLoungesProcessSoap12" type="tns:AirportLoungesProcessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Handle">
      <soap12:operation soapAction="http://tempuri.org/Handle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirportLoungesProcess">
    <wsdl:port name="AirportLoungesProcessSoap" binding="tns:AirportLoungesProcessSoap">
      <soap:address location="http://flights.ws.fws.qa.nt.ctripcorp.com/Flight.Order.SupplierOpenAPI/AirportLoungesProcess.asmx" />
    </wsdl:port>
    <wsdl:port name="AirportLoungesProcessSoap12" binding="tns:AirportLoungesProcessSoap12">
      <soap12:address location="http://flights.ws.fws.qa.nt.ctripcorp.com/Flight.Order.SupplierOpenAPI/AirportLoungesProcess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>